

.categories {
      margin-bottom: 150px;
   h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .list {
  padding: 0 100px;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  position: relative;
  .category {
    display: none;
    height: 220px;
    width: 15%;
    position: relative;
  img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    position: absolute;
    z-index: -2;
    border-radius: 10px;
  }

  .no-active {
    display: none;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(32, 32, 32, 0.6);
    border-radius: 10px;
  
  }
 
 
  .fade {
    animation-name: fadeAction;
    animation-duration: 1.5s;
  }

  p {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    white-space: nowrap;
  }
}
}
}

@keyframes fadeAction {
  from {opacity: .4;}
  to { opacity: 1;}
}

.position {
  position: relative;
}
 .active {
    display: block !important;

  }

  .slide-btn {
    width: 20px;
    position: absolute;
    top: 45%;
    cursor: pointer;
  }

  .next { 
    right: 5%;
  }

  .pre {
    transform: rotate(180deg);
    left: 5%;
  }

  .dot-list {
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    .dot-item {
      background-color: red;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      cursor: pointer;
    }
    .dot-active {
      background-color: #FFA902;
    }
  }